# Ignore folders with output which is built.
/dist/
/images/
/js/
/languages/
vendor/

# Ignore node_modules.
node_modules/

# Ignore the stylesheet, and map.
/style.css
/style.css.map
/style.min.css
/style-rtl.css
/style-rtl.css.map
/style-rtl.min.css

# Ignore .pot file
/develop/languages/*.pot

# Ignore local PHPCS config file
phpcs.xml
