# Ignore folders with output which is built.
/dist/
/images/
/js/
vendor/

# Ignore node_modules.
node_modules/

# Ignore the stylesheet, and map.
/style.css
/style.css.map
/style-rtl.css
/style-rtl.css.map
