/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu .menu-item {
	display: block;
	position: relative;
	text-align: left;
}

.genesis-nav-menu a {
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 15px 20px;
	position: relative;
	width: 100%;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #999;
}

.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu a:focus {
	outline: #aaa dotted thin;
}

.genesis-nav-menu .sub-menu .current-menu-item > a {
	color: #999;
}

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu .menu-item:hover {
	position: relative;
}

.genesis-nav-menu .sub-menu {
	background-color: #111;
	clear: both;
	display: none;
	opacity: 1;
	position: static;
}

.genesis-nav-menu .sub-menu a {
	border: 0;
}

.genesis-nav-menu .sub-menu .sub-menu a {
	padding-left: 20px;
}

/* Mobile Menu Toggle
--------------------------------------------- */

.menu-primary {
	display: none;
	position: relative;
}

.menu-toggle {
	color: #fff;
	display: block;
	font-size: 30px;
	margin: 0 auto;
	overflow: hidden;
	padding: 9px;
	visibility: visible;
	background-color: transparent;
	border: 0;
}

.sub-menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	padding: 16px;
}

.menu-toggle:before {
	content: "\2261";
}

.menu-toggle.menu-toggle-activated:before {
	content: "x";
}

.sub-menu-toggle:before {
	content: "+";
}

.sub-menu-toggle.menu-toggle-activated:before {
	content: "-";
}

/* Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
	margin-top: -53px;
}

/* Primary & Footer Navigation
--------------------------------------------- */

.nav-primary,
.nav-footer {
	background-color: #111;
	text-align: center;
}

.nav-primary a:hover,
.nav-primary .current-menu-item > a,
.nav-footer a:hover,
.nav-footer .current-menu-item > a {
	color: #999;
}

.nav-primary .sub-menu a:hover {
	color: #999;
}

/* Dropdown Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.wpacc-hover > ul.sub-menu {
	left: auto;
	opacity: 1;
}