/*
Print Media Query
---------------------------------------------------------------------------------------------------- */

@media print {

	* {
		color: $black;
		background: transparent;
		box-shadow: none;
		text-shadow: none;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after,
	.site-title > a:after {
		content: "";
	}

	blockquote,
	pre {
		border: 1px solid lighten($black, 56);
		page-break-inside: avoid;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100%;
	}

	p {
		orphans: 3;
		widows: 3;
	}

	.content,
	.content-sidebar {
		width: 100%;
	}

	button,
	input,
	nav,
	select,
	textarea,
	.pagination,
	.backstretch,
	.breadcrumb,
	.call-to-action-bar,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-respond,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.home-top,
	.home-welcome,
	.footer-widgets,
	.nav-primary,
	.nav-footer,
	.post-edit-link,
	.sidebar,
	.site-footer,
	.site-header,
	.utility-bar {
		display: none;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-indent: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}


	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

	thead {
		display: table-header-group;
	}

	.table td,
	.table th {
		background-color: $white;
	}

	.label {
		border: 1px solid $black;
	}

	.table {
		border-collapse: collapse;
	}

	.table-bordered th,
	.table-bordered td {
		border: 1px solid lighten($black, 85);
	}

}
