// Colors
$black: #000;
$white: #fff;

$blue: #0964dd;
$purple: #339;
$green: #107952;
$red: #d3131b;

// Widths
$width-large: 1140px;
$width-medium: 1024px;
$width-small: 768px;
$width-xsmall: 480px;

// Typography
$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Enriqueta, serif;
$mono: "Courier 10 Pitch", Courier, monospace;
