%base-style {
	background: $white;
	color: $black;
	font-family: $sans-serif;
	font-size: $base-font-size;
	font-weight: 400;
	line-height: $base-line-height;
	margin: 0;
	overflow-x: hidden;
}

%box-shadow {
	box-shadow: 0px 5px 15px -15px $black;
}

%content-area {
	background-color: $white;
	color: $black;
	padding: $base-padding/2;
	margin-bottom: $base-margin;

	@extend %box-shadow;

	@media screen and (min-width: $small-screen) {
		padding: $base-padding;
	}
}

%button {
	background-color: $default-accent;
	border: none;
	border-radius: 3px;
	color: $default-accent-contrast;
	cursor: pointer;
	display: inline-block;
	font-size: $base-font-size - 2;
	font-weight: normal;
	padding: 10px 15px;
	text-align: center;
	text-transform: uppercase;
	width: auto;

	@extend %box-shadow;

	&:hover {
		background-color: darken( $default-accent, 10%);
	}

	&:active,
	&:focus {
		background-color: lighten( $default-accent, 10%);
	}
}

@mixin inline-icon( $direction ) {
	display: inline-block;
	padding-#{$direction}: 8px;
}
