// Titles
//---------------------------------------------

.entry-title {
	margin-bottom: $base-margin;

	a {
		border: 0;
		color: $black;

		&:hover {
			color: lighten($black, 50%);
		}
	}
}

.widgettitle {
	font-size: $h4-font-size;
	letter-spacing: 1px;
	margin: 10px 0 24px;
	text-transform: uppercase;
}

.archive-description {
	margin-bottom: $base-margin;
}

// Entries
//---------------------------------------------

.entry {
	word-wrap: break-word;
	@extend %content-area;
}

.entry-content {

	p:last-of-type {
		margin-bottom: 0;
	}

	.attachment a,
	.gallery a {
		border: 0;
	}

	ol,
	ul {
		margin-bottom: $base-margin/2;
	}

	ol ol,
	ul ul,
	ol ul,
	ul ol {
		margin-bottom: 0;
	}

	ol li,
	ul li {
		margin-left: $base-margin;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}
}

// Entry Meta
//---------------------------------------------

.entry-header .entry-meta {
	background-color: lighten($black, 85%);
	font-size: $secondary-font-size;
	margin: 0 -40px $base-margin;
	padding: 10px;
	text-align: right;
}

.entry-footer .entry-meta {
	border-top: 1px solid;
	font-size: $secondary-font-size;
	margin-top: $base-margin;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
	display: block;
	margin: $base-margin/2;
}

// Featured Image
//---------------------------------------------

.featured-image {
	margin: $base-margin/2 0;
}

// Pagination
//---------------------------------------------

.pagination,
.posts-navigation {
	clear: both;
	margin: $base-margin 0;
}

.pagination a {
	margin: 0 1em;
}

// Comments
//---------------------------------------------

.comment-respond,
.entry-comments,
.entry-pings {
	@extend %content-area;
}

.comment-respond label {
	display: block;
	margin-bottom: 12px;
	text-transform: uppercase;
}

.entry-comments ul.children {
	margin-left: $base-margin;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin-top: 24px;
}

.comment-meta,
.comment,
.entry-comments .comment-reply {
	margin-bottom: $base-margin;
}

p.form-submit,
.entry-comments .children .comment,
.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

.form-allowed-tags {
	font-size: $secondary-font-size;
}
