// Breadcrumbs
//---------------------------------------------

.breadcrumb {
	margin-bottom: $base-margin/2;
}

// Titles
//---------------------------------------------

.entry-title {
	margin-bottom: $base-margin;

	a {
		border: 0;
		color: $black;

		&:hover {
			color: lighten($black, 50%);
		}
	}
}

.archive-description {
	margin-bottom: $base-margin;
}

// Entries
//---------------------------------------------

.entry {
	word-wrap: break-word;
	@extend %content-area;
}

.entry-content {

	.attachment a,
	.gallery a {
		border: 0;
	}

	ol,
	ul {
		margin-bottom: $base-margin/2;
	}

	ol ol,
	ul ul,
	ol ul,
	ul ol {
		margin-bottom: 0;
	}

	ol li,
	ul li {
		margin-left: $base-margin;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}
}

// Entry Meta
//---------------------------------------------

.entry-header .entry-meta {
	background-color: lighten($black, 85%);
	font-size: $secondary-font-size;
	margin: 0 -20px $base-margin;
	padding: 10px;
	text-align: right;

	@media screen and (min-width: $medium-screen) {
		margin: 0 -40px $base-margin;
	}
}

.entry-footer .entry-meta {
	border-top: 1px solid;
	font-size: $secondary-font-size;
	margin-top: $base-margin;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
	display: block;
	margin: $base-margin/2;
}

// Featured Image
//---------------------------------------------

.featured-image {
	margin: $base-margin/2 0;
}

// Pagination
//---------------------------------------------

.pagination,
.posts-navigation {
	clear: both;
	margin: $base-margin 0;
}

.pagination a {
	margin: 0 1em;
}

// Comments
//---------------------------------------------

.comment-respond,
.entry-comments,
.entry-pings {
	@extend %content-area;
}

.comment-respond label {
	display: block;
	margin-bottom: 10px;
}

.entry-comments ul.children {
	margin-left: $base-margin;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin-top: $base-margin/2;
}

.comment-meta,
.comment,
.entry-comments .comment-reply {
	margin-bottom: $base-margin;
}

p.form-submit,
.entry-comments .children .comment,
.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

.form-allowed-tags {
	font-size: $secondary-font-size;
}

// Author Box
//---------------------------------------------

.author-box {
	@extend %content-area;

	&-title {
		font-weight: 700;
		margin-bottom: 10px;
	}

	.avatar {
		margin-right: $base-margin/2;
	}
}

// Media Gallery
//---------------------------------------------

.gallery {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	margin-bottom: $base-margin;
}

.gallery-item {
	list-style: none;
	margin: 0;
	overflow: hidden;
	text-align: center;
	vertical-align: top;

	a img {
		border: 2px solid lighten($black, 50%);

		&:hover {
			opacity: .7;
		}
	}

	.gallery-caption {
		font-size: $secondary-font-size - 2;
		margin-bottom: $base-margin/2;
	}
}

@media screen and (min-width: $small-screen) {

	.gallery-columns-1 {
		grid-template-columns: 1fr;
	}

	.gallery-columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.gallery-columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.gallery-columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.gallery-columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.gallery-columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.gallery-columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.gallery-columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.gallery-columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
}

// Captions
//---------------------------------------------
.wp-caption {
	font-size: $secondary-font-size - 2;
	margin: 0;
	max-width: 100%;
	text-align: center;
}

.wp-caption-text {
	margin: $base-margin/2;
}
