// Titles
//---------------------------------------------

.entry-title {
	margin-bottom: $base-margin;

	a {
		border: 0;
		color: $black;

		&:hover {
			color: lighten($black, 50);
		}
	}
}

.widgettitle {
	font-size: $h4-font-size;
	letter-spacing: 1px;
	margin: 10px 0 24px;
	text-transform: uppercase;
}

.sidebar .widgettitle a {
	border: 0;
	color: $black;
}

.archive-title {
	color: $black;
	margin-bottom: 24px;
}

// Entries
//---------------------------------------------

.entry {
	background: $white;
	margin-bottom: $base-margin;
	padding: $base-padding;
	word-wrap: break-word;

	@extend %box-shadow;
}

.entry-content {
	a {
		color: $blue;

		&:hover {
			color: $black;
		}
	}

	.attachment a,
	.gallery a {
		border: 0;
	}

	ol,
	ul,
	.quote-caption {
		margin-bottom: $base-margin/2;
	}

	ol ol,
	ul ul,
	ol ul,
	ul ol {
		margin-bottom: 0;
	}

	ol li,
	ul li {
		margin-left: 40px;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ul.icons-ul > li {
		list-style-type: none;
	}

	code {
		background-color: $black;
		color: lighten($black, 75);
	}
}

// Entry Meta
//---------------------------------------------

.entry-meta {
	color: lighten($black, 25);
	font-size: $secondary-font-size;
}

.entry-header .entry-meta {
	background-color: lighten($black, 75);
	margin: 0 -40px 24px;
	padding: 10px;
	text-align: right;
}

.entry-footer .entry-meta {
	margin: 0 -40px;
	padding: 32px 40px 8px;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
	display: block;
}

// Featured Image
//---------------------------------------------

.featured-image {
	margin: $base-margin/2 0;
}

// Pagination
//---------------------------------------------

.pagination,
.posts-navigation {
	margin-bottom: $base-margin;
}

.pagination .nav-links {
	display: inline;
}

.pagination .nav-links a,
.pagination .nav-links .current {
	background: $black;
	border: 1px solid $white;
	color: $white;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
}

.pagination .nav-links a:hover {
	background: $white;
	border: 1px solid lighten($black, 25);
	color: $black;
}

.pagination .nav-links .current {
	background: lighten($black, 25);
	border: 1px solid $white;
	color: $white;
	cursor: pointer;
}

.entry-pagination {
	margin: 30px 0;
}

// Comments
//---------------------------------------------

.comment-respond,
.entry-comments,
.entry-pings {
	background: $comments-background-color;
	padding: $base-padding;
	margin-bottom: 40px;

	@extend %box-shadow;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-comments ul.children {
	margin-left: 40px;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin-top: 24px;
}

.comment-meta,
.entry-comments,
.comment,
.entry-comments .comment-reply {
	margin-bottom: 40px;
}

p.form-submit,
.entry-comments .children .comment,
.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

.form-allowed-tags {
	font-size: $secondary-font-size;
}
