// Typographical Elements
//---------------------------------------------

body {
	background: $white;
	color: $black;
	font-family: $sans-serif;
	font-size: $base-font-size;
	font-weight: 400;
	line-height: $base-line-height;
	overflow-x: hidden;
}

a,
button,
input:focus,
[type="button"],
[type="reset"],
[type="submit"],
textarea:focus,
.button
.gallery img {
	transition: all 0.1s ease-in-out;
}

a {
	color: $default-base;
	border-bottom: 1px dotted;
	font-weight: 700;
	text-decoration: none;
	word-wrap: break-word;

	&:hover {
		color: $black;
	}

	img {
		border-bottom: 0;
	}
}

p {
	margin: 0 0 24px;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote {
	color: $black;
	margin: 0;
	padding: $base-margin;

	&::before {
		content: "\201C";
		display: block;
		font-family: $serif;
		font-size: 120px;
		height: 0;
		left: -55px;
		position: relative;
		top: -55px;
	}
}

cite {
	font-style: italic;
	font-weight: 700;
}

pre {
	background: $black;
	color: $white;
	padding: 10px;
	overflow: scroll;
}

code {
	background-color: $black;
	color: $white;
}

address {
	margin-bottom: $base-margin/2;
}

mark {
	background-color: $default-accent;
	color: $default-accent-contrast;
}

// Headings
//---------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $black;
	font-family: $heading-font-family;
	font-weight: 700;
	line-height: $heading-line-height;
	margin: 0 0 $base-margin/2;
	padding: 0;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

// Objects
//---------------------------------------------

embed,
iframe,
img,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
	width: auto; /* IE8 */
}

// Forms
//---------------------------------------------

input,
textarea {
	background: $white;
	border: 1px solid lighten($black, 75%);
	color: $black;
	padding: .5em 1.5em;
	width: auto;
}

button,
.button,
.entry-content a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	@extend %button;
}

.search-form {
	display: flex;

	input {
		border: 0;

		background: url(images/icon-search-ltr.png) no-repeat 10% $default-accent;
		background-size: 13px 13px;

		.search-button-text {
			padding-left: 20px;
		}
	}
}

// Tables
//---------------------------------------------

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: .8em;
	line-height: 2;
	margin-bottom: $base-margin;
	width: 100%;
	word-break: break-all;
}

th,
td {
	border-top: 1px solid lighten($black, 75%);
	padding: 5px;
	text-align: left;
}

thead,
tfoot {
	background-color: lighten($black, 85%);
	font-weight: 700;

	td {
		border: 0;
	}
}
