/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	background: $white;
	color: lighten($black, 33);
	font-family: $sans-serif;
	font-size: $base-font-size;
	font-weight: 400;
	line-height: $base-line-height;
	overflow-x: hidden;
}

a,
button,
input:focus,
[type="button"],
[type="reset"],
[type="submit"],
textarea:focus,
.gallery img {
	transition: all 0.1s ease-in-out;
}

::-moz-selection {
	background: $black;
	color: $white;
}

::selection {
	background: $black;
	color: $white;
}

a {
	color: $blue;
	border-bottom: 1px dotted;
	font-weight: 700;
	text-decoration: none;
	word-wrap: break-word;
}

a img {
	margin-bottom: -4px;
}

a:hover {
	color: lighten($black, 33);
}

p {
	margin: 0 0 24px;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote {
	color: $black;
	margin: 0;
	padding: 24px 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-family: $serif;
	font-size: 120px;
	height: 0;
	left: -55px;
	position: relative;
	top: -55px;
}

pre {
	background: lighten($black, 11);
	color: lighten($black, 79);
	overflow: scroll;
	padding: 0 20px;
	white-space: pre;
}

cite {
	font-style: italic;
	font-weight: 700;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: lighten($black, 11);
	font-family: $heading-font-family;
	font-weight: 700;
	line-height: $heading-line-height;
	margin: 0;
	margin-bottom: 16px;
	padding: 0;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	width: auto; /* IE8 */
}

/* Forms
--------------------------------------------- */

input,
textarea {
	background: $white;
	border: 1px solid lighten($black, 85);
	color: lighten($black, 33);
	font-size: $secondary-font-size;
	padding: 16px;
	width: 100%;
}

::-moz-placeholder {
	color: lighten($black, 33);
}

::-webkit-input-placeholder {
	color: lighten($black, 33);
}

.button,
.entry-content a.button,
input[type="submit"] {
	background: $blue;
	border: 1px solid $white;
	color: $white;
	cursor: pointer;
	font-size: $base-font-size;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 16px 24px;
	text-transform: uppercase;
	width: auto;
}

button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus,
.entry-content a.button:focus {
	background-color: $white;
	color: $blue;
}

.button {
	display: inline-block;
}

.button:hover,
.entry-content a.button:hover,
input:hover[type="submit"] {
	background-color: $white;
	border: 1px solid $blue;
	color: $blue;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.search-form {
	align-items: center;
	border: 1px solid lighten($black, 85);
	display: flex;

	input {
		border: none;
		flex-grow: 3;
	}

	[type="submit"] {
		background-color: transparent;
		background: url(images/icon-search-ltr.png) no-repeat;
		border: 0;
		box-shadow: none;
		flex-grow: 1;
		height: 11px;
		padding: 0 15px;
		transition: none;
	}

	.search-button-text {
		display: none;
	}

}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: $base-margin;
	width: 100%;
	word-break: break-all;
}

tbody {
	border-bottom: 1px solid;
}

td,
th {
	border-top: 1px solid;
	padding: 10px 0;
	text-align: left;
}

th {
	font-weight: 400;
}
