// Forms
//---------------------------------------------

input,
select,
textarea {
	background: $white;
	border: 1px solid lighten($black, 75%);
	color: $black;
	font-size: $base-font-size - 2;
	padding: 10px 15px;
	width: 85%;

	@media screen and (min-width: $small-screen) {
		width: auto;
	}
}

button:not(.sub-menu-toggle),
.button,
.entry-content a.button,
input[type="submit"],
input[type="reset"],
input[type="button"],
 {
	@extend %button;
}

.search-form {
	display: flex;

	button {
		background: url(images/icon-search-ltr.png) no-repeat 10%;
		background-color: $default-accent;
		background-size: 13px 13px;

		.search-button-text {
			padding-left: 20px;
		}
	}
}
