/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* CSS Grid
--------------------------------------------- */
.site-container {
	display: grid;
	grid-template-columns: 1fr repeat(12, minmax(auto, 2.5em)) 1fr;

	@media screen and (min-width: 768px) {
		grid-template-columns: 1fr repeat(12, minmax(auto, 6.5em)) 1fr;
	}
}

.content-sidebar .content { // Account for other layouts too!
	grid-column: 2 / span 12;
	@media screen and (min-width: 768px) {
		grid-column: 2/11;
	}
}

.content-sidebar .sidebar-primary {
	grid-column: 2 / span 12;
	@media screen and (min-width: 768px) {
		grid-column: 11/14;
	}
}

.utility-bar {
	grid-column: span 14;
}

.site-header {
	grid-column: 2/14;
}

.nav-primary,
.nav-footer {
	grid-column: span 14;
}

.footer-widgets {
	grid-column: span 14;
	display: grid;
	grid-template-columns: 1fr repeat(12, minmax(auto, 6.5em)) 1fr;
}

.footer-widgets-1 {
	grid-column: 2/5;
}

.footer-widgets-2 {
	grid-column: 6/9;
}

.footer-widgets-3 {
	grid-column: 9/12;
}

.site-footer {
	grid-column: span 14;
}


/* Site Containers
--------------------------------------------- */

.utility-landing .site-container {
	margin: 40px auto;
	max-width: $wrap-max-width-medium;
}

/* Content & Primary Sidebar
--------------------------------------------- */


/*
Sidebar
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: $base-font-size;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar li {
	list-style-type: none;
	margin-bottom: 6px;
	padding: 0;
}

.sidebar .widget {
	background: $white;
	border-top: 1px solid lighten($black, 11);
	margin-bottom: 40px;
	padding: 40px;
}

.sidebar .widget-wrap {
	border-top: 5px solid lighten($black, 11);
	margin-left: 4px;
}

.sidebar .search-form input[type="search"] {
	width: 100%;
}

/* Column Classes
Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

@include susy-breakpoint($small-screen) {

	.one-half,
	.three-sixths,
	.two-fourths {
		@include span(6);
	}

	.one-third,
	.two-sixths {
		@include span(4);
	}

	.four-sixths,
	.two-thirds {
		@include span(8);
	}

	.one-fourth {
		@include span(3);
	}

	.three-fourths {
		@include span(9);
	}

	.one-sixth {
		@include span(2);
	}

	.five-sixths {
		@include span(10);
	}

	.last {
		@include last();
	}

	.last + * {
		clear: both;
	}

}
