// Site containers
//---------------------------------------------
.site-inner {
	background: darken($white, 3);
	padding-top: 40px;
}

.site-container .wrap {
	margin: 0 auto;
	padding: 0 2.5%;

	@media screen and (min-width: $large-screen) {
		max-width: $max-width;
		padding: 0;
	}
}

.site-header .wrap {
	display: grid;
	grid-gap: 20px;
}

// Full width header (no widget area)
//---------------------------------------------

.header-full-width .site-title,
.header-full-width .title-area {
	width: 100%;
}

// Header with widget area
//---------------------------------------------

@supports (grid-area: auto) {
	@media screen and (min-width: $small-screen) {
		// Header
		.site-header .wrap {
			grid-template-columns: minmax(300px, 1fr) 1fr;

			.title-area {
				align-self: start;
			}

			.header-widget-area {
				align-self: center;
				justify-self: end;
			}
		}
	}
}

// Content & Sidebar Layout
//---------------------------------------------

@supports (grid-area: auto) {
	@media screen and (min-width: $medium-screen) {

		// Content area
		.content {
			grid-area: content;
		}

		.sidebar-primary {
			grid-area: sidebar;
		}

		.content-sidebar .content-sidebar-wrap {
			display: grid;
			grid-gap: 40px;
			grid-template-columns: 70% 1fr;
			grid-template-areas:
				"content sidebar"
			;
		}

		.sidebar-content .content-sidebar-wrap {
			display: grid;
			grid-gap: 40px;
			grid-template-columns: 1fr 70%;
			grid-template-areas:
				"sidebar content"
			;
		}

		.full-width-content .content-sidebar-wrap {
			display: grid;
			grid-gap: 0;
			grid-template-columns: 1fr;
			grid-template-areas:
				"content"
			;

			.content {
				justify-self: center;
				width: 75%;
			}
		}
	}
}

// Footer Layout
//---------------------------------------------

@supports (grid-area: auto) {
	.footer-widgets .wrap {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
	}
}
