%box-shadow {
	box-shadow: 0px 5px 15px -15px $black;
}

%content-area {
	background-color: $white;
	color: $black;
	margin-bottom: $base-margin;
	padding: $base-padding;

	@extend %box-shadow;
}

%form-fields {
	  @include mdc-typography(body2);
	  @include mdc-theme-prop(color, text-primary-on-background);

	  display: inline-flex;
	  align-items: center;
	  vertical-align: middle;

	  > label {
	    order: 0;
	    margin-right: auto;
	    padding-left: $mdc-form-field-item-spacing;
	  }

	  @include mdc-rtl {
	    > label {
	      margin-left: auto;
	      padding-right: $mdc-form-field-item-spacing;
	    }
	  }
	}

	.mdc-form-field--align-end {
	  > label {
	    order: -1;
	    margin-left: auto;
	    padding-right: $mdc-form-field-item-spacing;
	  }

	  @include mdc-rtl {
	    > label {
	      margin-right: auto;
	      padding-left: $mdc-form-field-item-spacing;
	    }
	  }
}

%button {
	@include mdc-button-base_;
	@include mdc-button--raised_();
	@include mdc-button-corner-radius(2px);
	@include mdc-button-filled-accessible($default-accent);
	@include mdc-button-ink-color($default-accent-contrast);
	@include mdc-states($default-accent);

	@include mdc-ripple-surface;
	@include mdc-states;
	@include mdc-ripple-radius-bounded;

	padding: .5em 1.5em;
	position: relative;
	outline: none;
	overflow: hidden;

	&[data-mdc-ripple-is-unbounded] {
	  @include mdc-ripple-radius-unbounded;

	  overflow: visible;
	}
}
