.sidebar {

	li {
		list-style-type: none;
		margin-bottom: 6px;
		padding: 0;
	}

	.widget {
		@extend %content-area;

		padding: $base-padding;

		&.widget_search {
			background: none;
			padding: 0;

			.search-form input[type="search"] {
				width: 65%;
			}
		}
	}
}
