.site-footer {
	background-color: $blue;
	color: $white;
	font-size: $footer-font-size;
	padding: $base-padding 0;
	text-align: center;

	a {
		color: darken($white, 30);

		&:hover {
			border-bottom: 0;
		}
	}

	p {
		margin: 0;
	}
}


