
// Navigation Links
//---------------------------------------------

.genesis-nav-menu {

	.menu-item {
		display: block;
		position: relative;
		text-align: left;
		text-transform: uppercase;

		a {
			border-bottom: 0;
			display: block;
			font-weight: 400;
			font-size: $secondary-font-size;
			padding: 10px 20px;
			position: relative;
		}

		@media screen and (min-width: $medium-screen) {
			display: inline-block;
		}
	}

	.sub-menu {
		background-color: lighten($black, 85%);
		border-radius: 4px;
		clear: both;
		margin-left: $base-margin/2;
		opacity: 1;
		width: 200px;

		.menu-item {
			display: block;
		}

		@extend %box-shadow;

		@media screen and (min-width: $medium-screen) {
			display: block;
			left: -9999px;
			margin: 0;
			opacity: 0;
			position: absolute;
			transition: opacity 0.4s ease-in-out;
			z-index: 99;

			.sub-menu {
				margin: -54px 0 0 199px;
			}
		}
	}

	.menu-item:hover > .sub-menu,
	.menu-item-hover:hover > .sub-menu {
		left: auto;
		opacity: 1;
		position: static;
	}

}

// Site Header Navigation
//---------------------------------------------

.nav-header {

	.genesis-nav-menu {

		a {
			color: $black;
		}

		.current-menu-item > a,
		.sub-menu .current-menu-item > a:hover,
		a:hover {
			color: $default-accent;
		}
	}
}

// Primary & Footer Navigation
//---------------------------------------------

.nav-primary,
.nav-footer {
	background-color: transparent;
	display: none;
	position: relative;

	a:hover,
	.current-menu-item > a {
		color: $black;
	}

	@extend %box-shadow;

	@media screen and (min-width: $medium-screen) {
		border-top: 1px solid lighten($black, 75);
		border-bottom: 1px solid lighten($black, 75);
		display: inline-block;
		text-align: center;
		width: 100%;

	}
}

// Dropdown Menu
//---------------------------------------------

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.wpacc-hover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

// Mobile Menu Toggle
//---------------------------------------------

button.menu-toggle,
button.footer-menu-toggle {
	display: block;
	margin: 0 auto;
}

button.sub-menu-toggle {
	background-color: transparent;
	font-size: $base-font-size;
	padding: $base-padding/4;
	position: absolute;
	right: 0;
	top: 0;
}

button.menu-toggle,
button.footer-menu-toggle,
button.sub-menu-toggle {
	border: 0;
	visibility: visible;

	&[aria-expanded="false"]:after {
		content: "\002b"; // +
	}

	&[aria-expanded="true"]:after {
		content: "\00d7"; // x
	}

	@media screen and (min-width: $medium-screen) {
		display: none;
	}
}
