.site-footer {
	background-color: $default-base;
	color: $default-base-contrast;
	font-size: $footer-font-size;
	padding: $base-padding 0;
	text-align: center;

	a {
		color: $default-base-contrast;

		&:hover {
			border-bottom: 0;
		}
	}

	p {
		margin: 0;
	}
}


