@each $scheme, $base, $base-contrast, $accent, $accent-contrast in $theme-color-schemes {

	.utility-pro-#{$scheme} {

		a,
		.entry-content a,
		.home-gallery .fa {
			color: $base;

			&:hover {
				color: $black;
			}
		}

		.genesis-nav-menu a:hover {
			color: $base;
		}

		button,
		.button,
		.entry-content a.button,
		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		.wp-block-button__link {
			background-color: $accent;
			color: $accent-contrast;

			&:hover {
				background-color: darken( $accent, 10%);
			}

			&:active,
			&:focus {
				background-color: lighten( $accent, 10%);
			}
		}

		.menu-item.menu-button a {
			color: $accent-contrast;
		}

		.utility-bar,
		.site-footer {
			background-color: $base;
			color: $base-contrast;

			a {
				color:$base-contrast;
			}
		}

		.footer-widgets a {
			color: $white;
		}

	}
}
