// Color Options
// If you've chosen your favorite color scheme, you can delete the others
// ----------------------------------------------------------------------------------------------------

// Purple
//---------------------------------------------

.utility-pro-purple {

	a,
	.entry-content a,
	.home-gallery .fa {
		color: $purple;
	}

	.call-to-action-bar .button,
	.button,
	.entry-content .button,
	input[type="submit"] {
		background: $purple;
		border: 1px solid $white;
		color: $white;

		&:hover {
			background: $white;
			border: 1px solid $purple;
			color: $purple;
		}
	}

	.utility-bar,
	.site-footer {
		background-color: $purple;
	}
}

// Green
//---------------------------------------------

.utility-pro-green {

	a,
	.entry-content a,
	.home-gallery .fa {
		color: $green;
	}

	.sticky.entry {
		border-top-color: $green;
	}

	.call-to-action-bar .button,
	.button,
	.entry-content .button,
	input[type="submit"] {
		background: $green;
		border: 1px solid $white;
		color: $white;

		&:hover {
			background: $white;
			border: 1px solid $green;
			color: $green;
		}
	}

	.utility-bar,
	.site-footer {
		background-color: $green;
	}
}

// Red
//---------------------------------------------

.utility-pro-red {

	a,
	.entry-content a,
	.home-gallery .fa {
		color: $red;
	}

	.sticky.entry {
		border-top-color: $red;
	}

	.call-to-action-bar .button,
	.button,
	.entry-content .button,
	input[type="submit"] {
		background: $red;
		border: 1px solid $white;
		color: $white;

		&:hover {
			background: $white;
			border: 1px solid $red;
			color: $red;
		}
	}

	.utility-bar,
	.site-footer {
		background-color: $red;
	}
}
