/* Material Design Components
---------------------------------*/
@import "@material/button/mdc-button";
@import "@material/form-field/mdc-form-field";
@import "@material/textfield/mdc-text-field";

/* Modular Scale
---------------------------------*/
@import "modularscale-sass/stylesheets/modularscale";

// Colors
//------------------------------------------------------------------------------
$black: #102027; // grey-black
$white: #fff; // off-white
$blue: #395693;
$purple: #520099;
$green: #2a5547;

$cyan: #00BCD4;
$orange: #DD2C00;

$default-base: $cyan;
$default-base-contrast: $black;
$default-accent: $orange;
$default-accent-contrast: $white;

$indigo-base:#3f51b5;
$indigo-accent: #aeea00;

$jam-base: #910048;
$jam-accent: #00b8d4;

$green-base: #66bb6a;
$green-accent: #29b6f6;

// Each color scheme follows this format: (scheme name, base color, base contrast, accent color, accent contrast)
$color-schemes:
	(indigo, $indigo-base, $white, $indigo-accent, $black ),
	(jam, $jam-base, $white, $jam-accent, $black ),
	(greener, $green-base, $black, $green-accent, $black)
;

// Layout
//------------------------------------------------------------------------------

// Widths
$max-width: 1140px;

// Margins and Padding
$base-margin: 40px;
$base-padding: 40px;

// Retina Breakpoint
$hi-dpi: min-resolution 1.3dppx; // Device Pixel Ratio of 1:3

// Screen Breakpoint Sizes
$x-small-screen: 480px;
$small-screen: 720px;
$medium-screen: 960px;
$large-screen: 1140px;

// Typography
//------------------------------------------------------------------------------

// Global Font Families
$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-serif-alt: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Enriqueta, serif;
$monospace: "Courier 10 Pitch", Courier, monospace;

// Base Font Families
$base-font-family: $sans-serif;
$heading-font-family: $serif;
$accent-font-family: $serif;

// Base Font Sizes
$base-font-size: 16px;
$base-line-height: 1.625;
$heading-line-height: 1.25;
$modularscale: (
		base: $base-font-size,
		ratio: 1.125 // Major second.
);
$secondary-font-size: ms(-2);
$site-title-font-size: ms(5);

// Heading Font Properties
$h1-font-size: ms(6);
$h2-font-size: ms(5);
$h3-font-size: ms(4);
$h4-font-size: ms(3);
$h5-font-size: ms(2);
$h6-font-size: ms(1);
