.widgettitle {
	font-size: $h4-font-size;
	letter-spacing: 1px;
	margin: 10px 0 24px;
	text-transform: uppercase;
}

// Utility Bar
//---------------------------------------------

.utility-bar {
	background-color: $default-base;
	color: $default-base-contrast;
	font-size: $secondary-font-size;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	width: 100%;

	@extend %box-shadow;

	a {
		color: $white;

		&:hover {
			border-bottom: 0;
		}
	}

	p,
	.widgettitle {
		color: $white;
		margin: 0;
	}

	.search-form input[type="search"] {
		margin: 0;
		padding: 10px 0;
	}
}

// Front Page
//---------------------------------------------

.home-welcome {
	background-color: rgba(#333, 0.8);
	padding: 40px 0;
	text-align: center;

	p,
	.textwidget {
		color: lighten($black, 75);

		@media screen and (min-width: $x-small-screen) {
			font-size: 40px;
			line-height: normal;
			margin-bottom: 34px;
		}
	}

	.widgettitle {
		color: $white;
		text-transform: none;

		@media screen and (min-width: $x-small-screen) {
			font-size: 80px;
		}
	}
}

.home-gallery {
	background: $white;
	padding: $base-padding 0 $base-padding/2;
}

.home-gallery .fa {
	color: $default-accent-contrast;
}

.home-gallery .widget {
	padding: 0 $base-padding/2;
}

.home-gallery-1,
.home-gallery-2,
.home-gallery-3,
.home-gallery-4 {
	text-align: center;
	width: 100%;

	@media screen and (min-width: $small-screen) {
		float: left;
		width: 50%;
	}

	@media screen and (min-width: $medium-screen) {
		float: left;
		width: 25%;
	}

}

.call-to-action-bar {
	background: lighten($black, 25);
	color: $white;
	padding: $base-padding 0;
	text-align: center;

	@media screen and (min-width: $medium-screen) {
		text-align: left;
	}
}

.call-to-action-bar .enews p {
	margin: 12px 0;
	width: 100%;

	@media screen and (min-width: $medium-screen) {
		clear: left;
		float: left;
		margin-bottom: 0;
		width: 35%;
	}
}

@media screen and (min-width: $medium-screen) {

	.call-to-action-bar .enews-widget input[type="submit"] {
		float: right;
		margin: -2px 0 0;
		width: 35%;
	}

	.call-to-action-bar .enews form {
		float: right;
		text-align: right;
		width: 60%;
	}

	.call-to-action-bar .enews input[type="email"] {
		height: 57px;
		margin-right: 3px;
		position: relative;
		top: -2px;
		width: 60%;
	}

}

// Featured Page and Featured Post
//---------------------------------------------

.featured-content .entry {
	border-bottom: 2px solid lighten($black, 75);
	padding: 10px 0;
}

.sidebar .featured-content .entry {
	border-bottom: 0;
	margin-bottom: 10px;
}

.featured-content .entry-title {
	font-size: $base-font-size + 2;
	margin: 10px 0;
}

